{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="premium-packs">
  <div class="container">
  	<div class="row no-gutters">
  		<div class="col-xs-12 col-lg-4">
  			<div class="premium-pack economy-pack d-flex flex-column justify-content-around align-items-center mb-3">
  				<h2>Economy</h2>
  				<p class="highlight">7/7 crytpo analyst</p>
  				<ul>
						<li>- Crytpo 102 content</li>
						<li>- Portfolio design</li>
					</ul>
				  <a data-toggle="collapse" href="#collapseEconomy" aria-expanded="false" aria-controls="collapseEconomy">
				    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> See more
				  </a>
					<div class="collapse" id="collapseEconomy">
						<ul class="collapsed-list">
							<li>- Introduction to crypto and bitcoin</li>
							<li>- Purchase, manage and secure your assets</li>
							<li>- Your risk, timeline and expected returns</li>
						</ul>
					</div>
					<div class="price-details">
						<h3>$149</h3>
						<p class="small">3 months</p>
  				</div>
  				<form action="https://wt-1546b2a2cd9d040b9935724bcca1bcc0-0.run.webtask.io/premium-economy" method="POST" class="mb-2">
					  <script
					    src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="pk_test_pa5Ulsn3WF1qkhuuFitTFQpo"
					    data-image="/images/{{ index $.Site.Data.images.hash "tropyc/tropyc-logo.png" }}"
					    data-name="Tropyc Premium"
					    data-description="Subscription - Economy - 3 Months"
					    data-amount="14900"
					    data-locale="auto"
					    data-panel-label="Buy Ticket"
					    data-label="Buy Economy Ticket">
					  </script>
					</form>
					<a target="_blank" class="mb-3" rel="nofollow" href="https://coingate.com/pay/tropyc-economy"><img alt="CoinGate Payment Button" src="https://static.coingate.com/images/buttons/1.png" /></a>
  			</div>
  		</div>
  		<div class="col-xs-12 col-lg-4">
  			<div class="premium-pack business-pack d-flex flex-column justify-content-around align-items-center mb-3">
  				<h2>Business</h2>
  				<p class="highlight">All economy features</p>
  				<ul>
						<li>- 10 ICO reports / month</li>
						<li>- Monthly portfolio rebalancing</li>
					</ul>
				  <a data-toggle="collapse" href="#collapseBusiness" aria-expanded="false" aria-controls="collapseBusiness">
				    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> See more
				  </a>
					<div class="collapse" id="collapseBusiness">
						<ul class="collapsed-list">
							<li>- Detailed analysis of upcoming ICOs</li>
							<li>- Fundamentals of tokens investment</li>
							<li>- DIY cold wallet and Darkweb tutorials</li>
						</ul>
					</div>
					<div class="price-details">
						<h3>$249</h3>
						<p class="small">6 months</p>
  				</div>
  				<form action="https://wt-1546b2a2cd9d040b9935724bcca1bcc0-0.run.webtask.io/premium-business" method="POST" class="mb-2">
					  <script
					    src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="pk_test_pa5Ulsn3WF1qkhuuFitTFQpo"
					    data-image="/images/{{ index $.Site.Data.images.hash "tropyc/tropyc-logo.png" }}"
					    data-name="Tropyc Premium"
					    data-description="Subscription - Business - 6 Months"
					    data-amount="24900"
					    data-locale="auto"
					    data-panel-label="Buy Ticket"
					    data-label="Buy Business Ticket">
					  </script>
					</form>
					<a target="_blank" class="mb-3" rel="nofollow" href="https://coingate.com/pay/tropyc-business"><img alt="CoinGate Payment Button" src="https://static.coingate.com/images/buttons/1.png" /></a>
  			</div>
  		</div>
  		<div class="col-xs-12 col-lg-4">
  			<div class="premium-pack first-class-pack d-flex flex-column justify-content-around align-items-center mb-3">
  				<h2>First Class</h2>
  				<p class="highlight">All business features</p>
  				<ul>
						<li>- All our ICO reports</li>
						<li>- Fast-track check-in</li>
					</ul>
				  <a data-toggle="collapse" href="#collapseFirstClass" aria-expanded="false" aria-controls="collapseFirstClass">
				    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> See more
				  </a>
					<div class="collapse" id="collapseFirstClass">
						<ul class="collapsed-list">
							<li>- Mini 20 ICO reports per month</li>
							<li>- High priority customer</li>
							<li>- Alpha testing of tropyc 2.0</li>
						</ul>
					</div>
					<div class="price-details">
						<h3>$399</h3>
						<p class="small">12 months</p>
  				</div>
  				<form action="https://wt-1546b2a2cd9d040b9935724bcca1bcc0-0.run.webtask.io/premium-first-class" method="POST" class="mb-2">
					  <script
					    src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="pk_test_pa5Ulsn3WF1qkhuuFitTFQpo"
					    data-image="/images/{{ index $.Site.Data.images.hash "tropyc/tropyc-logo.png" }}"
					    data-name="Tropyc Premium"
					    data-description="Subscription - First Class - 12 Months"
					    data-amount="39900"
					    data-locale="auto"
					    data-panel-label="Buy Ticket"
					    data-label="Buy First Class Ticket">
					  </script>
					</form>
					<a target="_blank" class="mb-3" rel="nofollow" href="https://coingate.com/pay/tropyc-first-class"><img alt="CoinGate Payment Button" src="https://static.coingate.com/images/buttons/1.png" /></a>
  			</div>
  		</div>
  	</div>
  </div>
</div>
{{ partial "newsletter-bleed" . }}

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
