{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="premium-packs">
  <h1 class="text-center">{{ .Description }}</h1>
  <div class="container">
  	<div class="row">
  		<div class="col-xs-12 col-lg-4">
  			<div class="premium-pack economy-pack d-flex flex-column justify-content-around align-items-center mb-3">
  				<h2>Economy</h2>
  				<p class="highlight">7/7 crytpo analyst</p>
  				<ul>
						<li>- Live crypto walkthrough</li>
						<li>- Portfolio design</li>
					</ul>
				  <a data-toggle="collapse" href="#collapseEconomy" aria-expanded="false" aria-controls="collapseEconomy">
				    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> See more
				  </a>
					<div class="collapse" id="collapseEconomy">
						<ul class="collapsed-list">
							<li>- Live support on chat from our dedicated analysts team</li>
							<li>- Introduction to bitcoin, blockchain and cryptocurrency</li>
							<li>- Select the exchange that best fits your needs and profile</li>
							<li>- Get to know how to stay safe and protect your assets from attackers</li>
							<li>- Build your portfolio based on your expected returns, timeline and risk</li>
						</ul>
					</div>
					<div class="price-details">
						<h3>$149</h3>
						<p class="small">3 months</p>
  				</div>
  				<button
					    class="snipcart-add-item btn btn-info btn-lg font-weight-bold mb-3"
					    data-item-id="1"
					    data-item-name="Economy Ticket"
					    data-item-price="149.00"
					    data-item-weight="10"
					    data-item-url="https://tropyc-staging.netlify.com/premium"
					    data-item-description="Tropyc Premium Subscription - Economy Ticket">
					    <i class="fa fa-paper-plane" aria-hidden="true"></i> BOOK
					</button>
  			</div>
  		</div>
  		<div class="col-xs-12 col-lg-4">
  			<div class="premium-pack business-pack d-flex flex-column justify-content-around align-items-center mb-3">
  				<h2>Business</h2>
  				<p class="highlight">All economy features</p>
  				<ul>
						<li>- 10 ICO reports / month</li>
						<li>- Crytpo 102 content</li>
					</ul>
				  <a data-toggle="collapse" href="#collapseBusiness" aria-expanded="false" aria-controls="collapseBusiness">
				    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> See more
				  </a>
					<div class="collapse" id="collapseBusiness">
						<ul class="collapsed-list">
							<li>- 10 ICO reports per month to get the full picture</li>
							<li>- Fundamentals of tokens, ICOs and crypto investment</li>
							<li>- Purchase goods stealthily on online marketplaces</li>
							<li>- Build your Do It Yourself cold wallet</li>
						</ul>
					</div>
					<div class="price-details">
						<h3>$239</h3>
						<p class="small">6 months</p>
  				</div>
  				<button
					    class="snipcart-add-item btn btn-warning btn-lg font-weight-bold mb-3"
					    data-item-id="2"
					    data-item-name="Business Ticket"
					    data-item-price="239.00"
					    data-item-weight="20"
					    data-item-url="https://tropyc-staging.netlify.com/premium"
					    data-item-description="Tropyc Premium Subscription - Business Ticket">
					    <i class="fa fa-plane" aria-hidden="true"></i> BOOK
					</button>
  			</div>
  		</div>
  		<div class="col-xs-12 col-lg-4">
  			<div class="premium-pack first-class-pack d-flex flex-column justify-content-around align-items-center mb-3">
  				<h2>First Class</h2>
  				<p class="highlight">All business features</p>
  				<ul>
						<li>- All our ICO reports</li>
						<li>- Fast-track and high priority</li>
					</ul>
				  <a data-toggle="collapse" href="#collapseFirstClass" aria-expanded="false" aria-controls="collapseFirstClass">
				    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> See more
				  </a>
					<div class="collapse" id="collapseFirstClass">
						<ul class="collapsed-list">
							<li>- All our ICO reports per month (minimum 20)</li>
							<li>- Fast check-in and high priority customer</li>
							<li>- First access to all our premium content</li>
							<li>- Alpha testing of tropyc bot</li>
							<li>- Invitation to tropyc community lounge</li>
						</ul>
					</div>
					<div class="price-details">
						<h3>$359</h3>
						<p class="small">12 months</p>
  				</div>
  				<button
					    class="snipcart-add-item btn btn-danger btn-lg font-weight-bold mb-3"
					    data-item-id="3"
					    data-item-name="First Class Ticket"
					    data-item-price="359.00"
					    data-item-weight="30"
					    data-item-url="https://tropyc-staging.netlify.com/premium"
					    data-item-description="Tropyc Premium Subscription - First Class Ticket">
					    <i class="fa fa-fighter-jet" aria-hidden="true"></i> BOOK
					</button>
  			</div>
  		</div>
  	</div>
  </div>
  <h2 class="text-center">Every ticket comes with</h2>
</div>
<div class="pack-features">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-4">
					<div class="featurebox">
						<img src="/images/{{ index $.Site.Data.images.hash "landing-page/chat.svg" }}">
						<p>7/7 support and live chat with cryptocurrency analysts</p>
					</div>
			</div>
			<div class="col-xs-12 col-lg-4">
					<div class="featurebox">
						<img src="/images/{{ index $.Site.Data.images.hash "landing-page/star.svg" }}">
						<p>Portfolio design and setting up your digital vault</p>
					</div>
			</div>
			<div class="col-xs-12 col-lg-4">
					<div class="featurebox">
						<img src="/images/{{ index $.Site.Data.images.hash "landing-page/light-bulb.svg" }}">
						<p>Customised classes on bitcoin, crypto and blockchain</p>
					</div>
			</div>
		</div>
	</div>
</div>
{{ partial "newsletter-bleed" . }}

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
