<div class="article">
	<div class="picture">
		<a href="{{ .URL }}" title="{{ .Title }}">
			<img src="{{ (printf "%s" .Params.images | urlize) | relURL }}" alt="{{ .Params.title }}">
		</a>
	</div>
	<div class="article-info">
		<div class="d-flex">
			<h3 class="mr-2"><a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a></h3>
			<div class="ml-auto">
				{{ range .Params.categories }}
					<a href="/categories/{{ . | urlize }}" class="btn btn-{{ . | lower }} mx-1">{{ . | upper }}</a>
				{{ end }}
			</div>
		</div>
		<div class="article-meta">{{ partial "article/meta" . }}</div>
		<p>{{ .Description }}</p>
	</div>
</div>
