<div class="article">
	<div class="picture">
		<a href="{{ .URL }}" title="{{ .Title }}">
			<img src="/images/{{ (printf "news/%s.png" .Params.image | urlize) }}" alt="{{ .Params.image }}">
		</a>
	</div>
	<div class="article-info">
		<h3>
			<a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a>
			{{ range .Params.categories }}
				<a href="/categories/{{ . | urlize }}" class="btn btn-sm btn-{{ . | lower }} float-right mx-1">{{ . | upper }}</a>
			{{ end }}
		</h3>
		<div class="article-meta">{{ partial "article/meta" . }}</div>
		<p>{{ .Description }}</p>
	</div>
</div>
