<div class="article-featured">
	<a href="{{ .URL }}" title="{{ .Title }}">
		<div class="picture">
			<img src="{{ (printf "%s" .Params.images | urlize) | relURL }}" alt="{{ .Params.title }}">
		</div>
		<div class="article-info">
			<div class="d-flex">
				<h3>{{ .Title }}</h3>
				<div class="ml-auto">
				{{ range .Params.categories }}
					<div class="btn btn-{{ . | lower }} mx-1">{{ . | upper }}</div>
				{{ end }}
				</div>
			</div>
			<div class="article-meta">{{ partial "article/meta" . }}</div>
		</div>
	</a>
</div>
