<footer role="contentinfo" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-3">
				<div class="footer-logo">
					<a href="/" title="home"><img src="/images/tropyc/tropyc-brand-white.png" alt="logo"></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<h3 class="footer-nav-title">Company</h3>
				<ul class="footer-nav">
					<li><a href="/contact/">Contact</a></li>
					<li><a href="/about-us/">About</a></li>
					<li><a href="/legal/">Legal</a></li>
				</ul>
			</div>
			<div class="col-md-6 col-lg-3">
				<h3 class="footer-nav-title">Useful Links</h3>
				<ul class="footer-nav">
					<li><a href="/token-sale-listing">List your token sale</a></li>
					<li><a href="/rating-framework/">Rating framework</a></li>
					<li><a href="/variable-description/">Variable description</a></li>
					<li><a href="/disclaimer/">Disclaimer</a></li>
				</ul>
			</div>
			<div class="col-md-12 col-lg-3 col-social">
				<ul class="footer-nav">
					<li><a href="https://t.me/{{.Site.Params.telegram}}" target="_blank"><img src="/images/social-media/telegram.svg">Join our Telegram</a></li>
					<li><a href="https://www.facebook.com/{{.Site.Params.facebook}}" target="_blank"><img src="/images/social-media/facebook.svg">Like our Facebook</a></li>
					<li><a href="https://twitter.com/{{.Site.Params.twitter}}" target="_blank"><img src="/images/social-media/twitter.svg">Follow us on Twitter</a></li>
				</ul>
			</div>
		</div>
		<nav class="row">
			<div class="col-xs-12 text-right">
				<small class="copyright">&copy; 2017 Tropyc</small>
			</div>
		</nav>
	</div>
</footer>
