<div class="navbar-tropyc">
  <!-- Logo -->
	<div class="navbar-tropyc-brand">
		<a href="/" title="home"><img src="/images/tropyc/tropyc-logo-name.png" alt="logo"></a>
	</div>

  <!-- Right Navigation -->
  <div class="navbar-tropyc-right d-none d-lg-block">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" class="navbar-tropyc-item navbar-tropyc-link" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a>
    {{end}}
  </div>
  <div>
    <a href="/premium/" class="d-none d-lg-block btn navbar-tropyc-button">PREMIUM</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-tropyc-item d-lg-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tropyc-dropdown-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}" class="navbar-tropyc-item navbar-tropyc-link" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
        {{end}}
        <li><a href="/premium/" class="navbar-tropyc-item navbar-tropyc-link">Premium</a></li>
      </ul>
    </div>
  </div>
</div>
