<div class="news-sidebar">
	<div class="newsletter-box d-flex flex-column justify-content-around">
		<div class="social-links d-flex justify-content-around">
			<a href="https://t.me/{{.Site.Params.telegram}}" target="_blank"><img src="/images/social-media/telegram.svg"></a>
			<a href="https://www.facebook.com/{{.Site.Params.facebook}}" target="_blank"><img src="/images/social-media/facebook.svg"></a>
			<a href="https://twitter.com/{{.Site.Params.twitter}}" target="_blank"><img src="/images/social-media/twitter.svg"></a>
		</div>
		<p>Get free ICO reports & the hottest crypto news</p>
		<div class="newsletter-form">
			{{ partial "newsletter-form" . }}
		</div>
	</div>
	<div class="categories">
	  {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	  	<a href="{{ .URL }}" class="btn m-1 btn-{{ .Title | lower }}">{{ .Title | upper }}</a>
	  {{ end }}
	</div>
	<a class="twitter-timeline" data-height="2000" data-chrome="noheader nofooter" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/tropyc_crypto?ref_src=twsrc%5Etfw">Tweets by tropyc_crypto</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
