{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

{{ if .Sections }}
	<div class="crypto-all">
		<div class="container">
			<div class="row no-gutters">
				{{ range first 3 .Sections }}
					<div class="col-xs-12 col-md-4">
						<div class="section {{ (printf "%s-section" .Title | urlize) }} d-flex flex-column justify-content-around align-items-center mb-3">
							<img class="img-fluid" src="/images/{{ (printf "crypto-101/summary-icons/%s.svg" .Params.image) }}">
							<h2>{{ .Title }}</h2>
							<ul>
								{{ range .Data.Pages.ByDate }}
								<li><a href="{{ .URL }}">{{ .Title }}</a></li>
								{{ end }}
							</ul>
						</div>
					</div>
				{{ end }}
			</div>
			<h2 class="seperator-header">Go to 102.</h2>
			<div class="row no-gutters">
				{{ range last 3 .Sections }}
					<div class="col-xs-12 col-md-4">
						<div class="section {{ (printf "%s-section" .Title | urlize) }} d-flex flex-column justify-content-around align-items-center mb-3">
							<img class="img-fluid" src="/images/{{ (printf "crypto-101/summary-icons/%s.svg" .Params.image) }}">
							<h2>{{ .Title }}</h2>
							<ul>
								{{ range .Data.Pages.ByDate }}
								<li><a class="disabled" href="#" disabled>{{ .Title }} <i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
								{{ end }}
							</ul>
						</div>
					</div>
				{{ end }}
			</div>
			<p class="info-content"><i class="fa fa-info-circle" aria-hidden="true"></i> Coming soon!</p>
		</div>
	</div>
{{ else }}
	<div class="crypto-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="section {{ (printf "%s-section" .Title | urlize) }} d-flex flex-column justify-content-around align-items-center mb-3">
						<img class="img-fluid" src="/images/{{ (printf "crypto-101/summary-icons/%s.svg" .Params.image) }}">
						<h2>{{ .Title }}</h2>
						<ul>
							{{ range .Data.Pages.ByDate }}
							<li><a href="{{ .URL }}">{{ .Title }}</a></li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
