{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

{{ if .Sections }}
	<div class="crypto-101">
		<div class="container">
			<div class="sections-flex">
				{{ range .Sections }}
					<div>
						<div class="section mb-3">
							<img class="img-fluid" src="/images/{{ (printf "crypto-101/summary-icons/%s.png" .Params.image) }}">
							<span>{{ .Params.bref }}</span>
							<h2>{{ .Title }}</h2>
							<ul>
								{{ range .Data.Pages.ByDate }}
									<li><a href="{{ .URL }}">{{ .Title }}</a></li>
								{{ end }}
							</ul>
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
{{ else }}
	<div class="crypto-101">
		<div class="container">
			<div class="pages-flex">
				{{ range .Data.Pages.ByDate }}
					<div>
						<div class="page mb-3">
							<img class="img-fluid" src="/images/{{ (printf "crypto-101/summary-icons/%s.png" .Params.image) }}">
							<span>{{ .Params.bref }}</span>
							<h2>{{ .Title }}</h2>
							<p>{{ .Description }}</p>
							<a href="{{ .URL }}"></a>
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
{{ end }}

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
