.exchange-card {
	.card-header {
		display: flex;
		align-items: center;

		.exchange-logo {
			margin-right: auto;
			background: no-repeat center;
    	background-size: 50px;
    	background-color: #fff;
    	width: 55px;
    	height: 55px;
    	border: 1px solid #ddd;
    	border-radius: .25rem;
		}

		h2 {
			margin: 0;
			white-space: nowrap;
		}

		.corner-text {
			margin-left: auto;
			line-height: 30px;
			font-weight: 600;
			background: no-repeat 5px center;
    	background-size: 30px;
    	padding-left: 40px !important;
		}

		.popular {
			color: #F1C40F;
		}

		.altcoin {
			color: #2980B9;
		}

		.trader {
			color: #E74C3C;
		}

		.simple {
			color: #4ECDC4;
		}

		.cash {
			color: #2ECC71;
		}

		.decentralised {
			color: #9B59B6;
		}
	}

	.exchange-specs {
		padding: 25px;

		.flex-col-1 {
			font-weight: 500;
		}
	}
}
