.exchange-card {
	.card-header {
		display: flex;
		align-items: center;

		.exchange-logo {
			margin-right: auto;
			background: no-repeat center;
    	background-size: 50px;
    	background-color: #fff;
    	width: 55px;
    	height: 55px;
    	border: 1px solid #ddd;
    	border-radius: .25rem;
		}

		h2 {
			margin: 0;
			white-space: nowrap;
		}

		.corner-text {
			margin-left: auto;
			line-height: 30px;
			color: #f0c231;
			font-weight: 500;
			background: no-repeat 5px center;
    	background-size: 30px;
    	padding-left: 40px !important;
		}
	}

	.exchange-specs {
		padding: 25px;

		.flex-col-1 {
			font-weight: 500;
		}
	}
}
