.news-sidebar {
  position: sticky;
  top: 10px;
	padding-top: 30px;
	text-align: center;

	.newsletter-box {
		height: 350px;
		background: $gray-100;
		padding: 20px;

		p {
			font-weight: bold;
			font-size: 1.3rem;
		}
	}

	.social-links {
		margin-bottom: 1rem;

		img {
			height: 60px;
		}
	}

	.categories {
		margin-top: 20px;
	}
}
