.btn-altcoin, .btn-bitcoin, .btn-ico, .btn-guide, .btn-bank, .btn-tech {
	color: #FFF;

	&:hover {
		color: #FFF;
	}
}

.btn-altcoin {
	background: $blue;
}

.btn-bitcoin {
	background: $yellow;
}

.btn-ico {
	background: $green;
}

.btn-guide {
	background: $cyan;
}

.btn-bank {
	background: $orange;
}

.btn-tech {
	background: $purple;
}
