.btn-altcoin, .btn-bitcoin, .btn-ico, .btn-guide, .btn-bank, .btn-tech {
	padding: .2rem .4rem;
  font-size: .8rem;
  line-height: 1.2;
  border-radius: .2rem;
	color: #FFF;
	min-width: 60px;
	font-weight: 600;
	font-family: "Nunito";

	&:hover {
		color: #FFF;
	}
}

.btn-altcoin {
	background: $blue;
}

.btn-bitcoin {
	background: $yellow;
}

.btn-ico {
	background: $red;
}

.btn-guide {
	background: $cyan;
}

.btn-bank {
	background: $orange;
}

.btn-tech {
	background: $purple;
}
