.news-sidebar {
  position: sticky;
  top: 10px;
	padding-top: 40px;
	text-align: center;

	.newsletter-form {
		padding: 40px;
		background: #2c3e50;
	}

	.social-links {
		margin-top: 20px;

		img {
			height: 75px;
		}
	}

	.categories {
		margin-top: 20px;
	}
}
