#mc-embedded-subscribe-form {
	input {
		border-radius: 0.4rem;
		&::placeholder {
			color: #BDC3C7;
		}
	}
}

#mc-embedded-subscribe {
	cursor: pointer;
}

#mce-EMAIL {
	min-width: 220px;
}

.landing-newsletter-form {
	input {
		padding: .75rem 1rem;
		min-width: 250px;
		margin-bottom: 1rem;
		width: 85%;
	}

	.form-control {
		width: 85%;
	}
}
