.rf-table {
	margin-top: 4rem;
	margin-bottom: 5rem;

	thead tr {
		th {
			font-size: 1.1rem;
      padding: .5rem;
		}

		th:nth-child(3) {
			color: $green;
		}
	}

	tbody tr {
		td {
			font-size: 0.9rem;
      padding: .5rem;
		}

		td:first-child {
			font-weight: 600;
		}

		td:nth-child(3) {
			color: $gray-600;
		}
	}
}
