.tips-container {
	.tips {
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 0.8rem;

		.tip-label {
			font-size: 0.8rem;
			font-weight: 600;
			margin-bottom: 1rem;
		}

		@include media-breakpoint-up(sm) {
			max-width: 75%;
		}
	}
}
