.toc {
	position: sticky;
	top: 10px;
	border-left: 1px solid #CCC;
	margin-bottom: 20px;

	#TableOfContents {
		padding: 1rem;

		ul {
			padding-left: 0;
	  	margin-left: 0;
	  	list-style-type: none;

	  	li {
	    	margin-bottom: 1rem;
	    	line-height: 1.375;

	    	>ul {
					margin-top: 1rem;

					>li {
	    			font-size: 90%;
	    			padding-left: 1rem;
	    		}
	    	}
	  	}
	  }
	}
}
