.token-table {
  @include media-breakpoint-up(lg) {
    display: table;
  }

  th ,td {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }

  th {
    border-top: none;
  }

  .token-name {
    background: no-repeat 10px center;
    background-size: 40px;
    padding-left: 60px !important;
  }

  .market-cap {
  	color: #01bf86;
  }

  .price {
  	color: #f9ba48;
  }

  .label-emphasis {
    font-weight: 400;
  }

  .token-social-links {
    min-width: 70px;
  }

  .token-description {
    font-size: 12px;
    text-align: justify;
  }
}
