.token-table {
  @include media-breakpoint-up(lg) {
    display: table;
  }

  th ,td {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;

    a {
    	color: $gray-900;
    	&:hover {
    		color: $gray-900;
    	}
    }
  }

  th {
    border-top: none;
  }

  .token-name {
    background: no-repeat 10px center;
    background-size: 40px;
    padding-left: 60px !important;
  }

  .market-cap {
  	color: #01bf86;
  }

  .price {
  	color: #f9ba48;
  }

  .label-emphasis {
    font-weight: 400;
  }

  .token-social-links {
    min-width: 70px;

  	a {
    	color: $gray-600;
    }
  }

  .token-description {
    font-size: 12px;
    text-align: justify;
  }

  .ico-ended {
  	padding: 1rem 3rem;
  	border: 1px solid $gray-200;
  	border-radius: 10px;
  	background: $gray-100;
  	color: $blue;
  }
}
