.token-table {
	font-family: "Nunito";

  th {
  	cursor: pointer;
  	text-transform: uppercase;
  }

  th ,td {
    text-align: center;
    font-size: 0.8rem;

    a {
    	color: $gray-900;
    	&:hover {
    		color: $gray-900;
    	}
    }
  }

  td:first-child {
  	width: 40%;
  }

  .token-data {
  	display: flex;

  	.image {
	    width: 56px;
	    height: 56px;
	    padding: 2px;

			a {
				text-decoration: none;
		    height: 50px;
		    width: 50px;
		    border-radius: 2px;
		    background-repeat: no-repeat;
		    background-position: center center;
		    display: block;
		    position: relative;
		    background-size: 50px 50px;
			}
  	}

  	.content {
			text-align: left;
			margin-left: 10px;

  		p {
		  	font-size: 0.8rem;
		    line-height: 1.0;
		    margin: 3px 0 0 0;
  		}
  	}
  }

  .markets-token-data {
    background: no-repeat 5px center;
    background-size: 40px;
    padding-left: 60px !important;
    text-align: left;

    span {
    	font-weight: 600;
    }

    p {
	  	font-size: 0.8rem;
	    line-height: 1.0;
	    margin: 3px 0 0 0;
    }
  }

	.rating {
		font-weight: 600;
		font-size: 1.25rem;
	}

  .label-emphasis {
  	color: $blue;
    font-weight: 600;
  }

  .token-social-links {
    min-width: 70px;

  	a {
    	color: $gray-600;
    }
  }
}
