{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div class="token-detail-content">
	<div class="container">
		<div class="row">

			<div class="col-lg-2 d-none d-lg-block">
				<div class="token-id">
          <img class="img-fluid img-thumbnail" src="/images/{{ index $.Site.Data.images.hash (printf "token-logos/%s.png" .Title | urlize) }}">
					<h1 class="token-title">{{.Title }}</h1>
				</div>
			</div>

			<div class="col-lg-10">
				<div class="token-overview">
					<div class="token-id d-lg-none">
						<h1 class="token-title">{{.Title }}</h1>
						<img class="token-logo img-thumbnail" src="/images/{{ index $.Site.Data.images.hash (printf "token-logos/%s.png" .Title | urlize) }}">
					</div>
					<h2>Snapshot</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="overview">
                <div class="flex-row">
                  <div class="flex-col-1 label">Start</div>
                  <div class="flex-col-2">{{ .Params.startdate | dateFormat "02/01/2006" }}</div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-1 label">End</div>
                  <div class="flex-col-2">{{ .Params.enddate | dateFormat "02/01/2006" }}</div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-1 label">Platform</div>
                  <div class="flex-col-2">{{ .Params.platform }}</div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-1 label">Industry</div>
                  <div class="flex-col-2">{{ .Params.industry }}</div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-1 label">Currency accepted</div>
                  <div class="flex-col-2">{{ .Params.currencyAccepted }}</div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-1 label">Founded</div>
                  <div class="flex-col-2">{{ .Params.founded }}</div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-1 label">Links</div>
                  <div class="flex-col-2">
                    {{ if isset .Params.links "website" }}<a href="{{ .Params.links.website }}">{{ .Params.links.website }}</a>{{ end }}
                    <div class="mt-2">
                      {{ if isset .Params.links "twitter" }}<a href="https://twitter.com/{{ .Params.links.twitter }}" target="_blank" class="mx-1"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>{{ end }}
                      {{ if isset .Params.links "facebook" }}<a href="https://www.facebook.com/{{ .Params.links.facebook }}" target="_blank" class="mx-1"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>{{ end }}
                      {{ if isset .Params.links "reddit" }}<a href="https://www.reddit.com/r/{{ .Params.links.reddit }}" target="_blank" class="mx-1"><i class="fa fa-reddit fa-2x" aria-hidden="true"></i></a>{{ end }}
                      {{ if isset .Params.links "github" }}<a href="https://github.com/{{ .Params.links.github }}" target="_blank" class="mx-1"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>{{ end }}
                      {{ if isset .Params.links "telegram" }}<a href="https://t.me/{{ .Params.links.telegram }}" target="_blank" class="mx-1"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>{{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="flex-row">
                <div class="flex-col-1 indicator-value">DEAL</div>
                <div class="flex-col-2 indicator-rating text-warning">{{ partial "rating" .Params.dealrating }}</div>
              </div>
              <div class="flex-row mt-3">
                <div class="flex-col-1 indicator-value">TRUST</div>
                <div class="flex-col-2 indicator-rating text-success">{{ partial "rating" .Params.trustrating }}</div>
              </div>
              <div class="flex-row mt-3">
                <div class="flex-col-1 indicator-value">SOFT CAP</div>
                <div class="flex-col-2 indicator-rating">{{ .Params.softCap }}</div>
              </div>
              <div class="flex-row mt-3">
                <div class="flex-col-1 indicator-value">HARD CAP</div>
                <div class="flex-col-2 indicator-rating">{{ .Params.hardCap }}</div>
              </div>
            </div>
          </div>
				</div>
			</div>

		</div>

		<div class="ml-auto col-lg-10">
			<div class="token-description">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-justified flex-column flex-sm-row" role="tablist">
				  <li class="nav-item">
				    <a class="flex-sm-fill nav-link active" data-toggle="tab" href="#concept" role="tab">CONCEPT</a>
				  </li>
				  <li class="nav-item">
				    <a class="flex-sm-fill nav-link" data-toggle="tab" href="#trust" role="tab">TRUST</a>
				  </li>
				  <li class="nav-item">
				    <a class="flex-sm-fill nav-link" data-toggle="tab" href="#token" role="tab">TOKEN</a>
				  </li>
				  <li class="nav-item">
				    <a class="flex-sm-fill nav-link" data-toggle="tab" href="#deal" role="tab">DEAL</a>
				  </li>
          <li class="nav-item">
            <a class="flex-sm-fill nav-link" data-toggle="tab" href="#roadmap" role="tab">ROADMAP</a>
          </li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">

				  <div class="tab-pane active" id="concept" role="tabpanel">
				  	<div class="label">Description</div>
						<p>{{ .Description }}</p>
				  	<div class="label">Features</div>
				  	<p>{{ .Params.features | markdownify }}</p>
				  </div>

				  <div class="tab-pane" id="trust" role="tabpanel">
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Stage of the project</div>
	            <div class="flex-col-2">{{ .Params.trust.stage }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Team identity</div>
	            <div class="flex-col-2">{{ if .Params.trust.teamidentity }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Partners</div>
	            <div class="flex-col-2">{{ if .Params.trust.partners }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Advisors</div>
	            <div class="flex-col-2">{{ if .Params.trust.advisors }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">3rd party audit</div>
	            <div class="flex-col-2">{{ if .Params.trust.audit }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Multi-sig wallet</div>
	            <div class="flex-col-2">{{ if .Params.trust.multisigwallet }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Disbursement date</div>
	            <div class="flex-col-2">{{ .Params.trust.disbursementdate }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Refund</div>
	            <div class="flex-col-2">{{ if .Params.trust.refund }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
          </div>

				  <div class="tab-pane" id="token" role="tabpanel">
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Functions</div>
	            <div class="flex-col-2">{{ .Params.token.functions }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Consensus</div>
	            <div class="flex-col-2">{{ .Params.token.consensus }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Asset-backed</div>
	            <div class="flex-col-2">{{ if .Params.token.assetbacked }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Pre-Mined</div>
	            <div class="flex-col-2">{{ if .Params.token.premined }}<i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>{{ end }}</div>
	          </div>
	          <div class="flex-row mb-2">
	            <div class="flex-col-1">Similar</div>
	            <div class="flex-col-2">{{ .Params.token.similar }}</div>
	          </div>
          </div>

				  <div class="tab-pane" id="deal" role="tabpanel">
            <table class="deal-table table table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>CUT</th>
                  <th>SUPPLY</th>
                  <th>{{ .Params.deal.headers.cryptoHeader }}</th>
                  <!-- <th>1 ETH</th> -->
                </tr>
              </thead>
              <tbody>
              	{{ range .Params.deal.rows }}
                <tr>
                  <td>{{ .distribution }}</td>
                  <td>{{ .cut }}</td>
                  <td>{{ .supply }}</td>
                  <td>{{ .cryptovalue }}</td>
                  <!-- <td>{{ .fiatvalue }}</td> -->
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>

          <div class="tab-pane" id="roadmap" role="tabpanel">
            <div class="roadmap">
              <div class="roadmap-ideation">
                <span class="roadmap-stage">IDEATION</span>
                <div class="roadmap-bottom-left">
                  <div>
                    {{ if .Params.roadmap.website }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  Website
                </div>
                <div class="roadmap-bottom-right">
                  <div>
                    {{ if .Params.roadmap.whitepaper }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  Whitepaper
                </div>
              </div>
              <div class="roadmap-mvp">
                <span class="roadmap-stage">MVP</span>
                <div class="roadmap-bottom-left">
                  <div>
                    {{ if .Params.roadmap.initialcode }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  Initial Code
                </div>
                <div class="roadmap-bottom-right">
                  <div>
                    {{ if .Params.roadmap.mvp }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  MVP
                </div>
              </div>
              <div class="roadmap-test">
                <span class="roadmap-stage">TEST</span>
                <div class="roadmap-bottom-left">
                  <div>
                    {{ if .Params.roadmap.beta }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  Beta
                </div>
                <div class="roadmap-bottom-right">
                  <div>
                    {{ if .Params.roadmap.opendev }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  Open dev
                </div>
              </div>
              <div class="roadmap-growth">
                <span class="roadmap-stage">GROWTH</span>
                <div class="roadmap-bottom-left">
                  <div>
                    {{ if .Params.roadmap.launch }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  Launch
                </div>
                <div class="roadmap-bottom-right">
                  <div>
                    {{ if .Params.roadmap.community }}<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>{{ else }}<i class="fa fa-square-o fa-2x" aria-hidden="true"></i>{{ end }}
                  </div>
                  Community
                </div>
              </div>
            </div>
          </div>

				</div>
			</div>

			{{ if .Site.DisqusShortname }}
        <article>
            {{ template "_internal/disqus.html" . }}
        </article>
      {{ end }}
		</div>

	</div>
	{{ partial "newsletter-bleed" . }}
</div>

{{ end }}
{{ define "footer" }}
	{{ partial "footer" . }}
{{ end }}
