.label {
  font-size: 14px;
  font-weight: 400;
  color: #6f8691;
  margin-bottom: 10px;
}

.content {
	>h2:not(:first-child) {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  >h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
  	margin-top: 1rem;
  }
}

.btn {
	text-shadow: 0px 2px 1px #000;
	min-width: 75px;
}
