body {
  font-family: "Roboto", "Open Sans",  serif;
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  line-height: 1.6;
  font-weight: 300;
}
html {
  position: relative;
  min-height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
