label {
	font-weight: 600;
}

.label {
	font-size: 0.8rem;
	font-family: "Nunito";
	color: $gray-600;
	font-weight: 600;
	text-transform: uppercase;
}

strong {
	font-weight: 600;
}

.content {
	h2:not(:first-child) {
    margin-top: 2rem;
  }

  h3, h4, h5, h6 {
    margin-top: 1.5rem;
  }

  p {
  	margin-top: 1rem;
  }
}

button {
	cursor: pointer;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark {
	min-width: 75px;
	font-weight: 600;
	font-family: "Nunito";
}

svg {
	fill: #D8D8D8;

	#bulb-circle, #bulb, #chart, #chip, #code-circle, #document, #gear-circle, #gear, #rocket-circle, #software-circle, #star, #time {
		path {
			fill: inherit;
		}
	}
}
