.top-alert {
	margin-bottom: 0;
	background-color: $yellow;
	border-color: darken($yellow, 5%);
	border-radius: 0;

	.close {
		top: 0;
		right: 1rem;
		padding: 0;
	}
}

.bleed {
	height: 250px;
	background: theme-color("primary");

	h2 {
		color: #FFF;
		text-align: center;
		line-height: 2;

		@include media-breakpoint-up(lg) {
	  	line-height: 2.5;
	  	width: 50%;
	  }
	}
}

.tropyc-what {

	.tropyc-summary {
		margin-top: 3rem;
		margin-bottom: 3rem;
		text-align: center;
		font-size: 1.5rem;
		line-height: 2;
		color: $gray-600;
	}
}


.title {
	margin-left: auto;
	margin-right: auto;
  margin-top: 120px;
  display: flex;
  width: 80%;

	@include media-breakpoint-down(sm) {
		width: 100%;
	}

  .titleborder {
  	flex: 1;
    border-top: 2px solid $yellow;
    margin-top: 8px;
  }

  .titlelabel {
  	line-height: 20px;
  	margin: 0 80px;
    color: $gray-600;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;

  	@include media-breakpoint-down(sm) {
			font-size: 1rem;
			margin: 0 20px;
		}
  }
}

.top-title {
	margin-top: 40px;
}

.tropyc-how, .tropyc-why {
	margin: 40px 0 60px;
}

.tropyc-why {

	.funding-title {
		margin-bottom: 10px;

		h2 {
			text-align: center;
		}

		p {
			font-family: "Montserrat";
			text-align: center;
			font-weight: 500;
			font-size: 1.2rem;
		}
	}

	.point h2 {
		text-align: left;
		color: $gray-600;
	}

	.funding-comparison-container {

		.row {
			height: 500px;
		}
	}
}

.step, .point {

	h2 {
    margin: 15px 0;
		font-size: 1.5rem;
    font-weight: 500;
    color: $gray-600;
  	@include media-breakpoint-down(sm) {
			font-size: 1.2rem;
		}
	}

	p {
		width: 80%;
		margin: 10px 0 10px 20px;
		font-size: 1.1rem;
		font-weight: 300;
		text-align: justify;
		font-family: "Montserrat";
	}
}
