.top-alert {
	margin-bottom: 0;
	background-color: $yellow;
	border-color: darken($yellow, 5%);
	border-radius: 0;

	.close {
		top: 0;
		right: 1rem;
		padding: 0;
	}
}

.bleed {
	height: 250px;
	background: theme-color("primary");

	h2 {
		color: #FFF;
		text-align: center;
		line-height: 2;

		@include media-breakpoint-up(lg) {
	  	line-height: 2.5;
	  	width: 50%;
	  }
	}
}

.customer-timeline {
	margin: 60px 0;
}

.title {
	margin-left: auto;
	margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  width: 80%;

	@include media-breakpoint-down(sm) {
		width: 90%;
	}

  .titleborder {
  	flex: 1;
    border-top: 2px solid $yellow;
    margin-top: 8px;
  }

  .titlelabel {
  	line-height: 20px;
  	margin: 0 80px;
    color: $gray-600;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;

  	@include media-breakpoint-down(sm) {
			font-size: 1rem;
			margin: 0 40px;
		}
  }
}

.instructions, .funding-comparison {
	margin-top: 50px;
	margin-bottom: 50px;
}

.instructions {
	padding-top: 2rem;

	h3 {
		color: $gray-600;
	}

	.step:last-child {
		margin-bottom: 50px;
	}
}

.funding-comparison {

	.funding-title {
		height: 150px;
		margin: 30px 0;
	}

	h2 {
		text-align: center;
	}

	p {
		font-family: "Montserrat";
		text-align: center;
		font-weight: 500;
		font-size: 1.2rem;
	}

	.point h2 {
		text-align: left;
		color: $gray-600;
	}
}

.step, .point {

	h3 {
		font-size: 2rem;
    margin: 15px 0;
    font-weight: 500;
	}

	p {
		width: 80%;
		margin: 10px 0 10px 20px;
		font-size: 1.1rem;
		font-weight: 300;
		text-align: justify;
	}
}
