.premium-packs {
	min-height: 750px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 57%, #2ecc71 58%);
	background: -webkit-linear-gradient(top, #ffffff 57%,#2ecc71 58%);
	background: linear-gradient(to bottom, #ffffff 57%,#2ecc71 58%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2ecc71',GradientType=0 );
	padding: 90px 0;

	h1 {
		margin-bottom: 90px;
		color: $brand-primary;
	}

	h2 {
		margin-top: 60px;
		color: #FFF;
	}

	.premium-pack {
		width: 100%;
		min-height: 550px;
		border-radius: 4px;
		background: #FEFBFB;

		h2 {
			margin-top: 2rem;
			font-size: 2.5rem;
		}

		.highlight {
			text-transform: uppercase;;
			background: $gray-lighter;
			padding: 0.5rem 2rem;
			font-size: 0.9rem;
			font-weight: 500;
			letter-spacing: 0.03em;
		}

		ul {
			letter-spacing: 0.03em;

			li {
				margin-top: 1.5rem;
				list-style-type: none;
			}
		}

		.collapsed-list {
			li {
				font-size: 0.8rem;
				color: $gray-light;
			}
		}

		.price-details {
			margin-top: 1rem;

			h3 {
				font-size: 3rem;
				font-weight: 400;
			}

			p {
				position: relative;
				margin-top: 15px;
				padding-top: 15px;
				text-align: center;
				font-weight: 300;

				&:before {
					position: absolute;
				  content: '';
				  width: 90px;
				  height: 2px;
				  top: 0;
				  left: 50%;
				  margin-left: -45px;
				  background: #CCC;
				}
			}
		}

		p {
			font-size: 1.2rem;
		}

		button {
			cursor: pointer;
		}
	}

	.economy-pack {
		border-top: 6px solid $blue;

		h2 {
			color: $blue;
		}
	}

	.business-pack {
		border-top: 6px solid $orange;

		h2 {
			color: $orange;
		}
	}

	.first-class-pack {
		border-top: 6px solid $red;

		h2 {
			color: $red;
		}
	}
}

.pack-features {
	margin: 60px 0 90px;

  .featurebox {
	  margin-left: auto;
	  margin-right: auto;
  	display: flex;
    align-items: center;
    width: 300px;
    flex-direction: column;

    img {
    	padding-top: 30px;
    	height: 100px;
    }

    p {
    	margin-top: 2rem;
    	text-align: center;
    }
	}
}
