.token-sales {
	margin: 20px 0 90px;

	.top-links {
		a {
			font-weight: 600;
			color: $blue;
		}
	}

	.token-sales-disclaimer {

		p {
			margin-bottom: 0;
			text-align: center;
			font-size: 80%;
			color: $gray-600;
		}
	}
}
