.token-detail-content {
  margin-top: 20px;
}

.token-id {
  margin-bottom: 30px;
}

.token-title {
  margin-top: 15px;
  font-size: 30px;
  color: #6f8691;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.token-logo {
  height: 70px;
}

.token-overview {
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid #DDD;
  border-radius: .25rem;
}

.token-description {
  .tab-content {
    padding: 20px;
    border: solid #DDD;
    border-width: 0 1px 1px 1px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  .nav-link {
    background-color: #EFEFEF;
    border-color: #DDD;
  }
}

.table-overview, .table-trust, .table-token, .table-rating {
  th, td {
    border: none;
  }
}

.table-rating {
  th, td {
    vertical-align: middle;
  }

  &__value {
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 400;
    color: #6f8691;
  }

  &__rating {
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 400;
    color: #6f8691;
  }
}

.deal-table {
  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  tbody > tr:last-child td {
    border-width: 2px;
  }
}

.roadmap {
  display: flex;
  height: 300px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: 900px;
  }

  .roadmap-ideation, .roadmap-mvp, .roadmap-test, .roadmap-growth {
    flex: 25%;
    text-align: center;
    border: 1px solid #DDD;
    padding: 20px 0;
    position: relative;

      &::before {
      content: "";
      border: 2px solid #DDD;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 35%;
    }
  }

  .roadmap-stage {
    font-size: 16px;
    font-weight: 400;
    color: #6f8691;
  }

  .roadmap-bottom-left {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-size: 14px;

    @include media-breakpoint-only(md) {
      font-size: 12px;
    }
  }

  .roadmap-bottom-right {
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: 14px;

    @include media-breakpoint-only(md) {
      font-size: 12px;
    }
  }
}
