{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div class="container-fluid">
  <div class="row">
  	<div class="col-lg-8">
	  	<div class="news">

  			{{ range .Paginator.Pages.ByDate }}
		  		{{ partial "article" . }}
				{{ end }}
				<!-- <section>{{ partial "pagination" .}}</section> -->

			</div>
  	</div>
  	<div class="col-lg-4 col-md-12">
			{{ partial "news-sidebar" . }}
  	</div>
  </div>
</div>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
