{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div class="news-single">
	<div class="container">
	  <div class="row">
	  	<div class="col-lg-8">
		  	<div class="article-detail">
					{{ template "_internal/schema.html" . }}

					<div class="article-hero">
						<div class="picture">
							<img src="/images/{{ index $.Site.Data.images.hash (printf "news/%s.png" .Params.image | urlize) }}" alt="{{ .Params.image }}">
						</div>
						<div class="article-meta">
							<h3>
							{{ .Title }}
							{{ range .Params.categories }}
								<div class="btn btn-sm btn-{{ . | lower }} float-right mx-2">{{ . }}</div>
							{{ end }}
							</h3>
							<p>{{ .Date.Format "January 2, 2006" }}</p>
						</div>
					</div>
		   		<div class="article-time text-muted">{{ partial "article/meta" . }}</div>

		      <div class="article-body content">
		          {{.Content | safeHTML }}
		      </div>

	        <div class="article-footer text-muted">
	            {{ partial "article/byauthor" . }}
	            {{ partial "article/related-content" . }}
	        </div>

	        {{ if .Site.DisqusShortname }}
	        <div class="disqus">
	            {{ template "_internal/disqus.html" . }}
	        </div>
	        {{ end }}

				</div>
	  	</div>
	  	<div class="col-lg-4 col-md-12">
	  		{{ partial "news-sidebar" . }}
	  	</div>
	  </div>
	</div>
</div>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
