.footer {
	margin-top: 100px;
	padding: 80px 0 50px;
	background: #2c3e50;
	color: #ecf0f1;

  .footer-logo {
  	> a {
	    color: #FFF;
	    font-size: 24px;
	    font-weight: bold;
	    line-height: 50px;
	    margin-bottom: 50px;
	    background: no-repeat 10px center;
	    background-size: 50px;
	    padding-left: 70px;
	    display: block;

	    &:hover {
	    	color: $brand-primary;
	    	text-decoration: none;
	    }
  	}
	}

	.footer-nav-title {
		margin: 20px 0;
		color: #bdc3c7;
	  font-size: 12px;
	  letter-spacing: .08em;
	  text-transform: uppercase;
	}

	.footer-nav {
		margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    &:before {
    	content: " ";
    	display: table;
    }

    > li {
			position: relative;
    	display: block;
    }

    a {
    	color: #ecf0f1;
	    font-size: 16px;
	    font-weight: 400;
	    padding: .1875em 0;
	    margin-bottom: .75em;
	    display: inline-block;

	    &:hover {
	    	color: $brand-primary;
	    	text-decoration: none;
	    }
    }
	}

	.col-social {
		margin-top: 30px;

		li {
    	float: left!important;
    	padding-left: 15px;

    	&:first-child {
				padding-left: 0px;
    	}
		}
	}

	nav {
		display: block;
	}
}
