/* Main navbar */
.navbar-tropyc {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  border-bottom: 1px solid #E2E8ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-tropyc-brand {
	> a {
	  color: theme-color("primary");
	  font-size: 24px;
	  font-weight: bold;
	  line-height: 50px;
	  background: no-repeat 10px center;
	  background-size: 50px;
	  display: block;

	  &:hover {
	  	color: darken(theme-color("primary"), 5%);
	  	text-decoration: none;
	  }

	  img {
	  	height: 40px;
	  }
	}
}

/* Right section */
.navbar-tropyc-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-tropyc-item {
  cursor: pointer;
  padding: 0 30px;
	@include media-breakpoint-down(lg) {
  	padding: 0 20px;
  }
}

/* Navbar link */
.navbar-tropyc-link {
  color: $gray-700;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";
}
.navbar-tropyc-link:hover {
  color: theme-color("primary");
  text-decoration: none;
}

/* Navbar Button */
.navbar-tropyc-button {
	min-width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: theme-color("primary");

  &:hover {
    color: #fff;
    background-color: darken(theme-color("primary"), 5%);
  }
}

/* Dropdown menu */
.navbar-tropyc-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-tropyc-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-tropyc-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-tropyc-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
