/* Main navbar */
.navbar-tropyc {
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-tropyc-brand img {
	height: 40px;
}

/* Right section */
.navbar-tropyc-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .active {
  	font-weight: 700;
  	color: theme-color("primary");
  }
}

/* Basic navbar item */
.navbar-tropyc-item {
  cursor: pointer;
  padding: 0 20px;
	@include media-breakpoint-down(lg) {
  	padding: 0 20px;
  }
}

/* Navbar link */
.navbar-tropyc-link {
  color: $gray-700;
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito";
}
.navbar-tropyc-link:hover {
  color: theme-color("primary");
  text-decoration: none;
}

/* Navbar Button */
.navbar-tropyc-button {
	margin-left: 20px;
	font-family: "Nunito";
	border-radius: 0.4rem;
	min-width: 100px;
  font-weight: 600;
  color: #fff;
  background-color: theme-color("primary");

  &:hover {
    color: #fff;
    background-color: darken(theme-color("primary"), 5%);
  }
}

/* Dropdown menu */
.navbar-tropyc-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-tropyc-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-tropyc-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-tropyc-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
