<div class="article-featured">
	<a href="{{ .URL }}" title="{{ .Title }}">
		<div class="picture">
			<img src="/images/{{ index $.Site.Data.images.hash (printf "news/%s.png" .Params.image | urlize) }}" alt="{{ .Params.image }}">
		</div>
		<div class="article-info">
			<h3>{{ .Title }}</h3>
			{{ range .Params.categories }}
				<div class="btn btn-sm btn-{{ . | lower }} float-right mx-1">{{ . | upper }}</div>
			{{ end }}
			<div class="article-meta">{{ partial "article/meta" . }}</div>
		</div>
	</a>
</div>
