<div class="article">
	<div class="picture">
		<a href="{{ .URL }}" title="{{ .Title }}">
			<img src="/images/{{ index $.Site.Data.images.hash (printf "news/%s.png" .Params.image | urlize) }}" alt="{{ .Params.image }}">
		</a>
	</div>
	<div class="article-info">
		<h3>
			<a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a>
			{{ range .Params.categories }}
				<a href="/categories/{{ . }}" class="btn btn-info btn-sm float-right mx-2">{{ . }}</a>
			{{ end }}
		</h3>
		<p class="date">{{ .Date | dateFormat "January 2, 2006" }}</p>
		<p>{{ .Description }}</p>
	</div>
</div>
