<div id="mc_embed_signup">
	<form action="//tropyc.us15.list-manage.com/subscribe/post?u=24fb0dbeddc7ce4265c8879b9&id=cd00a11da3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<input type="email" value="" name="EMAIL" class="email form-control w-50 mx-auto text-center" id="mce-EMAIL" placeholder="email address" required>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_24fb0dbeddc7ce4265c8879b9_cd00a11da3" tabindex="-1" value="">
			</div>
			<div class="clear">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning mt-3">
			</div>
		</div>
	</form>
</div>
