{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="banner" style="background-image: linear-gradient(-180deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.2) 50%), url('/images/{{ index $.Site.Data.images.hash "landing-page/background.png" }}');">
  <div class="banner-content">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <p>Subscribe to our newsletter and get a free ICO report</p>
    {{ partial "newsletter-inline-form" . }}
  </div>
</div>
<div class="features">
	<div class="featurebox">
		<img src="/images/{{ index $.Site.Data.images.hash "landing-page/chat.svg" }}">
		<h2>Live chat</h2>
		<p>Get your personal crypto analyst 7/7.</p>
	</div>
	<div class="featurebox">
		<img src="/images/{{ index $.Site.Data.images.hash "landing-page/star.svg" }}">
		<h2>Tokensale rating</h2>
		<p>Evaluate projects with our ICO rating reports.</p>
	</div>
	<div class="featurebox">
		<img src="/images/{{ index $.Site.Data.images.hash "landing-page/light-bulb.svg" }}">
		<h2>Education</h2>
		<p>Learn how to purchase, store, manage and invest.</p>
	</div>
</div>
<div class="instructions">
	<div class="container">
		<h2>How Premium works</h2>
		<div class="row">
			<div class="col-sm-6 d-flex flex-column justify-content-around">
					<div class="step">
						<h3>Step-by-step</h3>
						<p>We're here to guide you with screenshots and customised support, whether to find your exchange, invest in an ICO or set-up your cold wallet.</p>
					</div>
					<div class="step">
						<h3>Design your portfolio</h3>
						<p>Together we'll build a portfolio that best suits your needs, risk aversion and future expectations - based on our token analysis.</p>
					</div>
					<div class="step">
						<h3>ICOs scored</h3>
						<p>Tropyc performs extensive due diligence on tokensales we choose to list. Get a detailed analysis of the best ICOs available on the market.</p>
					</div>
			</div>
			<div class="col-sm-6">
				<img class="img-fluid rounded mx-auto d-block" src="/images/{{ index $.Site.Data.images.hash "landing-page/phone.png" }}">
			</div>
		</div>
	</div>
</div>
<div class="funding-comparison">
	<div class="container">
		<h2><span class="red">Startup funds raised</span> vs. <span class="green">Initial Coin Offerings</span></h2>
		<p>in millions of dollars</p>
		<div class="row">
			<div class="col-sm-6">
				<img class="img-fluid rounded mx-auto d-block mt-3" src="/images/{{ index $.Site.Data.images.hash "landing-page/chart.png" }}">
			</div>
			<div class="col-sm-6 d-flex flex-column justify-content-around">
				<div class="point">
					<h2>Revolution</h2>
					<p>Tokensales raise more funds than startups as per the 1st of August 2017.</p>
				</div>
				<div class="point">
					<h2>Tokenomics</h2>
					<p>Check our database of tokens, we figured out their tokenomics just for you.</p>
				</div>
				<div class="point">
					<h2>Rating</h2>
					<p>Tropyc evaluates and filters tokensales before listing. We undertake a thorough analysis based on fundamentals.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{ partial "newsletter-bleed" . }}
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}

