{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="container">
  <div class="hero">
    <h1> {{ .Title }} </h1>
    <p>
      {{ .Params.bref | safeHTML }}
    </p>
  </div>
  <div class="row mb-5">
  	<div class="col-12 col-lg-3 order-1 order-lg-2 sidebar">
  		{{ partial "toc" .}}
  	</div>
  	<div class="col-12 col-lg-9 order-2 order-lg-1 content">
  		<div class="row">
  			<div class="col-md-2">
  				{{ partial "share-links" . }}
  			</div>
  			<div class="col-md-10">
  				{{ .Content}}

  				<div class="text-center mt-5">
						{{ if .PrevInSection }}
						  <a href="{{ .PrevInSection.URL }}">Prev <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
						{{ end }}
						{{ if and .PrevInSection .NextInSection }} | {{ end }}
						{{ if .NextInSection }}
						  <a href="{{ .NextInSection.URL }}"><i class="fa fa-chevron-right" aria-hidden="true"></i> Next</a>
						{{ end }}
					</div>

  			</div>
  		</div>
  	</div>
  </div>

<!-- Inject script tag in this template  -->
  {{if .Params.script}}
   {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
  {{end }}
</div>

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
