{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="container">
  <div class="hero">
    <h1> {{ .Title }} </h1>
    <p>
      {{ .Params.bref | safeHTML }}
    </p>
  </div>
  <div class="row mb-5">
  	<div class="col-12 col-md-3 push-md-9 sidebar">
  		{{ partial "toc" .}}
  	</div>
  	<div class="col-12 col-md-9 pull-md-3 content">
  		{{ .Content}}
  	</div>
  </div>

<!-- Inject script tag in this template  -->
  {{if .Params.script}}
   {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
  {{ partial (string $script) .}}
  {{end }}
</div>

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
