{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="premium">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-8">
				<div class="premium-details">
					<h1>7/7 Crypto Analyst</h1>
					<h2>Customised Support</h2>
					<p>Personal advice, guides and insights whenever you need</p>
					<h2>Portolio Design</h2>
					<p>Help to design your portfolio and make better investments</p>
					<h2>ICO Reports and Analysis</h2>
					<p>Extra information to help you invest in the right ICOs</p>
					<p class="small text-center">Available on your favorite channels</p>
					<div class="premium-channels d-flex justify-content-around">
						<img src="/images/social-media/telegram-icon.png">
						<img src="/images/social-media/messenger-icon.png">
						<img src="/images/social-media/skype-icon.png">
				</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="price-box">
					<h3>$49</h3>
					<p>USD / month</p>
				</div>
				<div class="price-buttons text-center">
					<form action="https://wt-1546b2a2cd9d040b9935724bcca1bcc0-0.run.webtask.io/tropyc-premium" method="POST" class="my-3">
					  <script
					    src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="pk_live_B9lxm0Ca2l6UWGIMsD6lhz2N"
					    data-image="/images/tropyc/tropyc-logo.png"
					    data-name="Tropyc Premium"
					    data-description="Subscription - 1 Month"
					    data-amount="4900"
					    data-locale="auto"
					    data-panel-label="Buy Subscription"
					    data-label="Pay with local currency">
					  </script>
					</form>
					<a target="_blank" class="my-3" rel="nofollow" href="https://coingate.com/pay/tropyc"><img alt="CoinGate Payment Button" src="https://static.coingate.com/images/buttons/1.png" /></a>
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
