{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="token-sales">

	<div class="container">
		<div class="top-links">
			<a href="/crypto-101/token/tokenisation/"><svg class="icon"><use xlink:href="#chip" /></svg> Token sale course</a>
			<a href="/news/things-to-know-ico"><svg class="icon"><use xlink:href="#bulb" /></svg> 8 things to know</a>
			<a href="/variable-description"><svg class="icon"><use xlink:href="#gear" /></svg> Variable Description</a>
			<a href="/rating-framework"><svg class="icon"><use xlink:href="#document" /></svg>Rating Framework</a>
			<a href="/token-sale-listing"><svg class="icon"><use xlink:href="#star" /></svg>Apply for listing</a>
		</div>
	</div>

	<div class="container">
	  <table id="token-sales-table" class="token-table table table-responsive table-striped table-hover">
	    <thead>
	      <tr>
	        <th>ICO</th>
	        <th>Valuation</th>
	        <th>ICO/Total</th>
	        <th>Start</th>
	        <th>End</th>
	        <th>Rating</th>
	        <th>Type</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{ range (.Data.Pages.ByParam "endDate").Reverse }}
	        <tr>
	          <td>
	          	<div class="token-data">
		          	<div class="image img-thumbnail">
		          		<a href="{{ .URL }}" style="background-image: url('/images/{{ (printf "token-sale-logos/%s-64.png" .Title | urlize) }}');"></a>
		          	</div>
		          	<div class="content">
		          		<a href="{{ .URL }}">{{ if isset .Params "premium" }}<svg class="icon"><use xlink:href="#flame" /></svg>{{ end }}{{ .Title }}</a>
		          		<p>{{ .Params.bref }}</p>
		          	</div>
	          	</div>
	          </td>
	          <td class="{{ .Params.valuation.headers.header }}">{{ .Params.valuation.rows.total.value }}</td>
	          <td>{{ .Params.valuation.rows.ico.cut }}</td>
		        <td>{{ .Params.startDate | dateFormat "02 Jan 06" }}</td>
	          <td>{{ .Params.endDate | dateFormat "02 Jan 06" }}</td>
	          {{ if ne .Params.rating "N/A" }}
	          	<td data-order="{{ .Params.rating }}" class="rating text-center">{{ partial "rating" .Params.rating }}</td>
	          {{ else }}
	          	<td data-order="0" class="rating">N/A</td>
	          {{ end }}
	          <td>{{ if .Params.premium }}{{ .Params.premium }}{{ else }}0{{ end }}</td>
	        </tr>
	      {{ end }}
	    </tbody>
	  </table>
	  <div class="token-sales-disclaimer">
	  	<p>We have an internal selection process to filter unattractive token sales.</p>
	  	<p>Listing should not be considered endorsement.</p>
	  </div>
	</div>
</div>

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
