{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="token-sales">

	<div class="top-links">
		<div class="container">
			<div class="row my-5 text-center">
				<div class="col-sm-3"><a href="/news/what-is-an-ico">What is an ICO?</a></div>
				<div class="col-sm-3"><a href="/variable-description">Variable Description</a></div>
				<div class="col-sm-3"><a href="/rating-framework">Rating Framework</a></div>
				<div class="col-sm-3"><a href="/token-sale-listing">List your token sale</a></div>
			</div>
		</div>
	</div>

	<div class="container">
	  <table id="token-sales-table" class="token-table table table-responsive table-striped table-hover">
	    <thead>
	      <tr>
	        <th class="text-left">ICO</th>
	        <th>Valuation</th>
	        <th>% ICO</th>
	        <th>Start</th>
	        <th>End</th>
	        <th>Trust</th>
	        <th>Deal</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{ range (.Data.Pages.ByParam "endDate").Reverse }}
	        <tr>
	          <td>
	          	<div class="token-data">
		          	<div class="image img-thumbnail">
		          		<a href="{{ .URL }}" style="background-image: url('/images/{{ (printf "tokensale-logos/%s-64.png" .Title | urlize) }}');"></a>
		          	</div>
		          	<div class="content">
		          		<a href="{{ .URL }}" class="label-emphasis">{{ .Title }}</a>
		          		<p>{{ .Params.bref }}</p>
		          	</div>
	          	</div>
	          </td>
	          <td class="{{ .Params.deal.headers.valuationHeader }}">{{ .Params.valuation.rows.total.value }}</td>
	          <td>{{ .Params.valuation.rows.tokensale.cut }}</td>
		        <td>{{ .Params.startDate | dateFormat "02/01/2006" }}</td>
	          <td>{{ .Params.endDate | dateFormat "02/01/2006" }}</td>
	          <td class="rating">{{ partial "rating" .Params.trustRating }}</td>
	          <td class="rating">{{ partial "rating" .Params.dealRating }}</td>
	        </tr>
	      {{ end }}
	    </tbody>
	  </table>
	  <div class="token-sales-disclaimer">
	  	<p>We have an internal selection process to filter unattractive token sales.</p>
	  	<p>Listing should not be considered endorsement.</p>
	  </div>
	</div>
</div>

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
