{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div class="token-sale-single">
	<div class="profile-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="image">
						<img class="rounded" src="/images/{{ (printf "tokensale-logos/%s-128.png" .Title | urlize) }}">
					</div>
				</div>
				<div class="col-lg-9">
					<div class="info-main">
						<div class="details">
							<h1>{{ .Title }}</h1>
							<h2>{{ .Params.bref }}</h2>
							<p>{{ .Description }}</p>
						</div>
						<div class="ratings">
							<div class="ratings-box">
								<div class="rating">
									<div class="rating-name">Trust</div>
									<div class="rating-mark">{{ partial "rating" .Params.dealrating }}</div>
								</div>
								<div class="rating">
									<div class="rating-name">Deal</div>
									<div class="rating-mark">{{ partial "rating" .Params.trustrating }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="info-secondary">
						<div class="date-box">
							<div class="info-row">
								<div>Start</div>
								<div>{{ .Params.startdate | dateFormat "02/01/2006" }}</div>
							</div>
							<div class="info-row">
								<div>End</div>
								<div>{{ .Params.enddate | dateFormat "02/01/2006" }}</div>
							</div>
						</div>
						<div class="info-row">
							<div>Origin</div>
							<div>{{ .Params.founded }}</div>
						</div>
						<div class="info-row">
							<div>Industry</div>
							<div>{{ .Params.industry }}</div>
						</div>
						<div class="info-row">
							<div>Platform</div>
							<div>{{ .Params.platform }}</div>
						</div>
						<div class="info-row">
							<div>Currency accepted</div>
							<div>{{ .Params.currencyaccepted }}</div>
						</div>
						<a href="{{ .Params.links.website }}?utm_source=tropyc" target="_blank" class="btn btn-primary">GO TO ICO</a>
					</div>
					<div class="socials">
						{{ if isset .Params.links "twitter" }}<a href="{{ .Params.links.twitter }}" target="_blank" class="twitter"></a>{{ end }}
            {{ if isset .Params.links "facebook" }}<a href="{{ .Params.links.facebook }}" target="_blank" class="facebook"></a>{{ end }}
            {{ if isset .Params.links "reddit" }}<a href="{{ .Params.links.reddit }}" target="_blank" class="reddit"></a>{{ end }}
            {{ if isset .Params.links "github" }}<a href="{{ .Params.links.github }}" target="_blank" class="github"></a>{{ end }}
            {{ if isset .Params.links "telegram" }}<a href="{{ .Params.links.telegram }}" target="_blank" class="telegram"></a>{{ end }}
            {{ if isset .Params.links "slack" }}<a href="{{ .Params.links.slack }}" target="_blank" class="slack"></a>{{ end }}
            {{ if isset .Params.links "medium" }}<a href="{{ .Params.links.medium }}" target="_blank" class="medium"></a>{{ end }}
					</div>
				</div>
				<div class="col-lg-9">
					<div class="video">
						<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/kbR1SXIje1U?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="profile-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<div class="twitter-feed">
						<a class="twitter-timeline" data-height="1000" data-chrome="nofooter" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/relestio">Tweets by relestio</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
				<div class="col-lg-9 order-1 order-lg-2">
					<div class="tabs">
						<nav class="nav" role="tablist">
							<a class="active" id="nav-financial-tab" data-toggle="tab" href="#nav-financial" role="tab" aria-controls="nav-financial" aria-selected="true">Financial</a>
							<a data-toggle="tab" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
							<a data-toggle="tab" id="nav-set-up-tab" data-toggle="tab" href="#nav-set-up" role="tab" aria-controls="nav-set-up" aria-selected="false">Set-up</a>
							<a data-toggle="tab" id="nav-timeline-tab" data-toggle="tab" href="#nav-timeline" role="tab" aria-controls="nav-timeline" aria-selected="false">Timeline</a>
							<a data-toggle="tab" id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="false">Team</a>
							<a data-toggle="tab" id="nav-whitepaper-tab" data-toggle="tab" href="#nav-whitepaper" role="tab" aria-controls="nav-whitepaper" aria-selected="false">Whitepaper</a>
						</nav>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="nav-financial" role="tabpanel" aria-labelledby="nav-financial-tab">
							<div class="financial-flex">
								<div class="valuation">
									<p><strong>Valuation</strong></p>
									<!-- <p>{{ with .Params.deal.info.recap }}{{ . | markdownify }}{{ end }}</p> -->
			            <table id="valuation-table" class="financial-table">
			              <thead>
			                <tr>
			                  <th>Stake</th>
			                  <th>Cut</th>
			                  <th>Supply</th>
			                  {{ if ne .Params.deal.headers.valuationheader "USD" }}
													<th id="valuation-header">{{ .Params.deal.headers.valuationheader }}</th>
			                  	<th>USD</th>
												{{ else }}
													<th>USD</th>
												{{ end }}
			                </tr>
			              </thead>
			              <tbody>
			              	{{ range .Params.deal.rows }}
			                <tr class="{{ .distribution | urlize }}-row">
			                  <td>{{ .distribution }}</td>
			                  <td>{{ .cut }}</td>
			                  <td>{{ .supply }}</td>
			                  {{ if ne $.Params.deal.headers.valuationheader "USD" }}
													<td>{{ .value }}</td>
													<td></td>
												{{ else }}
													<td>${{ .value }}</td>
												{{ end }}
			                </tr>
			                {{ end }}
			              </tbody>
			            </table>
		            </div>

		            <div class="fund-allocation">
		            	<p><strong>Fund allocation</strong></p>
									<table class="financial-table">
										<thead>
											<tr>
												<th>Stake</th>
												<th>Cut</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Development</td>
												<td>70%</td>
											</tr>
											<tr>
												<td>HR</td>
												<td>20%</td>
											</tr>
											<tr>
												<td>Legal fees</td>
												<td>5%</td>
											</tr>
											<tr>
												<td>Real estate</td>
												<td>5%</td>
											</tr>
										</tbody>
									</table>
		            </div>
		          </div>

						</div>
						<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
							<strong>{{ .Title }}</strong>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum fugit maiores sint, fugiat asperiores eos repudiandae hic blanditiis molestias provident aspernatur atque perspiciatis natus, laborum autem inventore, nemo facere quidem.</p>
							<strong>Functionality</strong>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error assumenda necessitatibus veniam dignissimos fugit. Fuga repudiandae harum praesentium eveniet aspernatur officia impedit voluptatem, omnis voluptates odio itaque. Ullam, minus, illum!</p>
						</div>
						<div class="tab-pane fade" id="nav-set-up" role="tabpanel" aria-labelledby="nav-set-up-tab">

						</div>
						<div class="tab-pane fade" id="nav-timeline" role="tabpanel" aria-labelledby="nav-timeline-tab">

						</div>
						<div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">

						</div>
						<div class="tab-pane fade" id="nav-whitepaper" role="tabpanel" aria-labelledby="nav-whitepaper-tab">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}
{{ define "footer" }}
	{{ partial "footer" . }}
{{ end }}
