{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div class="token-sale-single">
	<div class="profile-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="image">
						<img src="/images/{{ (printf "token-sale-logos/%s-256.png" .Title | urlize) }}">
					</div>
				</div>
				<div class="col-lg-9">
					<div class="info-main">
						<div class="details">
							<h1>{{ .Title }}</h1>
							<h2>{{ .Params.bref }}</h2>
							<p>{{ .Description }}</p>
						</div>
						<div class="ratings">
							<div class="ratings-box">
								<div class="rating">
									<div class="rating-name">Trust</div>
									<div class="rating-mark">{{ partial "rating" .Params.dealrating }}</div>
								</div>
								<div class="rating">
									<div class="rating-name">Deal</div>
									<div class="rating-mark">{{ partial "rating" .Params.trustrating }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="info-secondary">
						<div class="date-box">
							<div class="info-row">
								<div>Start</div>
								<div>{{ .Params.startdate | dateFormat "02/01/2006" }}</div>
							</div>
							<div class="info-row">
								<div>End</div>
								<div>{{ .Params.enddate | dateFormat "02/01/2006" }}</div>
							</div>
						</div>
						<div class="info-row">
							<div>Origin</div>
							<div>{{ .Params.origin }}</div>
						</div>
						<div class="info-row">
							<div>Industry</div>
							<div>{{ .Params.industry }}</div>
						</div>
						<div class="info-row">
							<div>Platform</div>
							<div>{{ .Params.platform }}</div>
						</div>
						<div class="info-row">
							<div>Currency accepted</div>
							<div>{{ .Params.currencyaccepted }}</div>
						</div>
						<a href="{{ .Params.links.website }}/?utm_source=tropyc" target="_blank" class="btn btn-primary">GO TO ICO</a>
					</div>
					<div class="socials">
						{{ if isset .Params.links "twitter" }}<a href="https://twitter.com/{{ .Params.links.twitter }}" target="_blank"><svg class="icon"><use xlink:href="#twitter" /></svg></a>{{ end }}
            {{ if isset .Params.links "facebook" }}<a href="https://www.facebook.com/{{ .Params.links.facebook }}" target="_blank"><svg class="icon"><use xlink:href="#facebook" /></a>{{ end }}
            {{ if isset .Params.links "reddit" }}<a href="https://www.reddit.com/r/{{ .Params.links.reddit }}" target="_blank"><svg class="icon"><use xlink:href="#reddit" /></a>{{ end }}
            {{ if isset .Params.links "github" }}<a href="https://github.com/{{ .Params.links.github }}" target="_blank"><svg class="icon"><use xlink:href="#github" /></a>{{ end }}
            {{ if isset .Params.links "telegram" }}<a href="https://t.me/{{ .Params.links.telegram }}" target="_blank"><svg class="icon"><use xlink:href="#telegram" /></a>{{ end }}
            {{ if isset .Params.links "slack" }}<a href="{{ .Params.links.slack }}" target="_blank"><svg class="icon"><use xlink:href="#slack" /></a>{{ end }}
            {{ if isset .Params.links "medium" }}<a href="https://medium.com/{{ .Params.links.medium }}" target="_blank"><svg class="icon"><use xlink:href="#medium" /></a>{{ end }}
					</div>
				</div>
				<div class="col-lg-9">
					{{ if isset .Params.links "youtube" }}
					<div class="video">
						<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{.Params.links.youtube}}?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
	<div class="profile-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<div class="twitter-feed">
						<a class="twitter-timeline" data-height="1000" data-chrome="nofooter" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/{{ .Params.links.twitter }}">Tweets by relestio</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
				<div class="col-lg-9 order-1 order-lg-2">
					<div class="tabs">
						<nav class="nav" role="tablist">
							<a class="active" id="nav-financial-tab" data-toggle="tab" href="#nav-financial" role="tab" aria-controls="nav-financial" aria-selected="true">Financial</a>
							<a id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
							<a id="nav-set-up-tab" data-toggle="tab" href="#nav-set-up" role="tab" aria-controls="nav-set-up" aria-selected="false">Set-up</a>
							<a id="nav-timeline-tab" data-toggle="tab" href="#nav-timeline" role="tab" aria-controls="nav-timeline" aria-selected="false">Timeline</a>
							<a id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="false">Team</a>
							<a id="nav-whitepaper-tab" {{ if isset .Params.links "whitepaper" }} href="{{ .Params.links.whitepaper }}" target="_blank" {{ else }}class="disabled" data-toggle="tooltip" data-placement="top" title="No available whitepaper"{{ end }}>Whitepaper</a>
						</nav>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="nav-financial" role="tabpanel" aria-labelledby="nav-financial-tab">
							<div class="container">
								<div class="row">
									<div class="col-lg-8">
										<div class="valuation">
											<div class="tab-content-header">
												<div>Valuation</div>
												<p>{{ with .Params.valuation.info.recap }}{{ . | markdownify }}{{ end }}</p>
											</div>
					            <table id="valuation-table" class="financial-table">
					              <thead>
					                <tr>
					                  <th>Stake</th>
					                  <th>Cut</th>
					                  <th>Supply</th>
					                  {{ if ne .Params.valuation.headers.header "USD" }}
															<th id="valuation-cell-header">{{ .Params.valuation.headers.header }}</th>
					                  	<th>USD</th>
														{{ else }}
															<th>USD</th>
														{{ end }}
					                </tr>
					              </thead>
					              <tbody>
					              	{{ range .Params.valuation.rows }}
					                <tr class="{{ .distribution | urlize }}-row">
					                  <td>{{ .distribution }}</td>
					                  <td>{{ .cut }}</td>
					                  <td>{{ .supply }}</td>
					                  {{ if ne $.Params.valuation.headers.header "USD" }}
															<td>{{ .value }}</td>
															<td></td>
														{{ else }}
															<td>${{ .value }}</td>
														{{ end }}
					                </tr>
					                {{ end }}
					              </tbody>
					            </table>
				            </div>
			            </div>

									<div class="col-lg-4">
				            <div class="fund-allocation">
				            	<div class="tab-content-header">
												<div>Fund Allocation</div>
											</div>
											<table class="financial-table">
												<thead>
													<tr>
														<th>Stake</th>
														<th>Cut</th>
													</tr>
												</thead>
												<tbody>
													{{ range .Params.allocation }}
													<tr>
														<td>{{ .stake }}</td>
														<td>{{ .cut }}</td>
													</tr>
													{{ end }}
												</tbody>
											</table>
				            </div>
			            </div>
		            </div>
		          </div>
						</div>
						<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
							{{ .Content | safeHTML }}
						</div>
						<div class="tab-pane fade" id="nav-set-up" role="tabpanel" aria-labelledby="nav-set-up-tab">
							<div class="container">
								<div class="row">
									<div class="col-lg-4">
										<div class="relationships">
											<div class="tab-content-header">Relationships</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="token">
											<div class="tab-content-header">Token</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="market">
											<div class="tab-content-header">Market</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-timeline" role="tabpanel" aria-labelledby="nav-timeline-tab">
						</div>
						<div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}
{{ define "footer" }}
	{{ partial "footer" . }}
{{ end }}
